#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */

  width: 100%;
  height: 100vh;
}

.darkMode{
  background-color: #068298;
}

.lightMode{
  background-color: rgb(27, 2, 124);
  color:aliceblue
}